body {
    background-color: #8fc0a9;
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
    font-family: 'Open Sans', sans-serif;
    color: #4A7C59;
    text-align: center;
}

q {
    font-style: italic;
    width: auto;
    display: block;
}

ul {
    display: block;
    text-align: justify;
    max-width: 700px;
    margin: 0 auto 50px auto;
}

li {
    display: list-item;
    text-align: justify;
    line-height: 1.6;
    margin: 16px 0px;
    list-style-type: circle;
}

ul::after, #learn-more::before {
    content: "\a";
    white-space: pre;
    display: block;
}

#b1, #b2, #b3, #b4, 
#b5, #b6, #b7, #b8, 
#b9, #b10, #b11, #b12, #b13 {
    font-size: larger;
}

#main {
    background-color: #FAF3DD;
    margin: 35px 20px 35px 20px;
    padding: 40px 20px 20px 20px;
    border-radius: 10px;
}

#title {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    text-align: center;
}

#img-div {
    background-color: #C8D5B9;
    padding: 4% 4% 4% 4%;
}

#image-div, #image {
    max-width: 100%;
    height: auto;
}

#image {
    display: block;
    margin: auto;
}

#tribute-info{
    font-weight: bold;
    font-size: x-large;
    font-family: 'Abril Fatface', cursive;
    padding-top: 3%;
    padding-bottom: 3%;
}

#quote1, #marie-quote {
    font-style: italic;
    padding-bottom: 5px;
}

#learn-more {
    font-weight: bold;
    font-size: medium;
    font-family: 'Abril Fatface', cursive;
}